/*

1. LOGIN
  1.1 COLUMN RIGHT
  1.2 COLUMN LEFT
*/

/* ------------------------------------------------------------------------- */

/* 1. LOGIN */

/* 1.1 COLUMN 1 */
:local(.colRight) {
  composes: bgPurpleDark from "../../../components/colors.css";
  height: 100vh;
  min-height: 600px;
}

/* 1.2 COLUMN 2 */
:local(.colLeft) {
  composes: bgPurple from "../../../components/colors.css";
  min-height: 600px;
}

/* ------------------------------------------------------------------------- */
