/*

1. LOGIN
  1.1 COLUMN RIGHT
  1.2 COLUMN LEFT
  
*/

/* ------------------------------------------------------------------------- */

/* 1. LOGIN */

/* 1.1 COLUMN RIGHT */
:local(.colRight) {
  composes: bgPurpleDark from "../../../components/colorBase.css";
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

@media only screen and (max-width: 667px) {
  :local(.colRight) {
    display: block;
    overflow: auto;
  }
}

:local .link {
  composes: linkDefault from "../../../components/textBase.css";
}

/* 1.2 COLUMN LEFT */
:local(.colLeft) {
  composes: bgPurpleLight from "../../../components/colorBase.css";
  height: 100vh;
  overflow: auto;
}

/* ------------------------------------------------------------------------- */
