:local(.topBar) {
  composes: bgPurpleDefault from "../../../../components/bases/colorBase.css";
  padding: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
:local .colorGreen {
  composes: clGreenDefault from "../../../../components/bases/colorBase.css";
}
:local .fav{
  margin-top: 1px;
  top: 0%;
  float: right;
}

:local(.header) {
    padding: 10px;
    margin: 50px,0px,0px,50px;
    justify-content: center;
    align-items: center;
  }
  :local(.card) {
    background-color: #6351a8;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff; 
  }
  :local(.cardContainer) {
    justify-content: center;
    align-items: center;
  }
  :local .avatar {
    width: 30px;
    height: 30px;
  }
  /*
  Text
  */
  :local(.textGreen) {
    composes: textGreen;
    font-size: 16px;
    display: block;
  }

  :local(.textSmall){
    font-size: 11px;
    display: block;
  }
  :local(.cardRight) {
    background-color: #6351a8;
    margin-top: 5px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff; 
  }

  :local .star {
    opacity: 0.4;
    width: 12px;
  }
  
  :local .starActive {
    color: yellow;
    opacity: 1;
  }
  
  :local .arrowPrice {
    composes: textGreen;
    margin-left: 2px;
    margin-top: 40px;
    max-width: 14px;
  }