/*

1. BASES
  1.1 CONTAINERS
  1.2 ALIGNMENTS - GENERICS

2. BUTTONS
  2.1 BUTTON RECEIVE 
  2.2 BUTTON SUBMIT 
  1.3 STYLES
  1.4 TEXTS
  1.5 ICON - COINS

 3. MOBILE
    3.1 BUTTONS
*/

/* ------------------------------------------------------------------------- */

/* 1. BASES */

/* 1.1 CONTAINERS */
:local(.containerInfoCoins) {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

:local(.containerWallet) {
    justify-content: center;    
    display: flex;
}

/* 1.2 ALIGNMENTS - GENERICS*/
:local(.floatRightInWeb) {
    max-width: 100%;
    padding-left: 10px;    
    min-width: 60%;
}

:local(.alignButtonsMobile) {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* 1.3 STYLES */
:local(.styleCoinDefalt) {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05);
}

:local(.coinSelected) {
    composes: styleCoinDefalt;
    background-color: #473088;
    text-align: center;
    min-height: 99px;
    max-width: 242px;
    max-height: 192px;
    width: 30%;
    display: grid;
}

:local(.coinBalance) {
    composes: styleCoinDefalt;
    background-color: #473088;
    font-weight: bold;
    text-align: right;
    min-height: 99px;
    min-width: 150px;
    max-height: 116px;
    padding: 10px;
    display: grid;
}

/* 1.4 TEXTS */
:local(.fontSize) {
    font-size: 24px;
}

:local(.coinBalanceGreen) {
    composes: linkDefault from "../../components/bases/textBase.css"; 
    display: inline;
}

:local(.nameCoinSelected) {
    composes: fontSize;    
    font-weight: bold;
}

:local(.porcentageCoinSelected) {
    composes: textDefault from "../../components/bases/textBase.css";  
    font-size: 12px;
}

:local(.valueCoinSelected) {
    composes: textDefault from "../../components/bases/textBase.css";  
    font-weight: bold;
}

:local(.balanceMyAmount) {    
    composes: fontSize;
}

:local(.balanceAmount) {
    composes: fontSize;
    font-weight: normal;
    margin: 15px 0;
}

/* 1.5 ICON - COINS */
:local(.logoCoinSelected) {
    max-width: 35%;
    margin: 3% 0;
    justify-self: center;
}

/* ------------------------------------------------------------------------- */

/* 2. BUTTONS */
:local(.alignButtons) {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

/* 2.1 BUTTON RECEIVE */
:local(.receiveButton) {
  composes: receiveButton from "../../components/bases/buttonBase.css";
  composes: styleCoinDefalt;
}

/* 2.2 BUTTON SUBMIT */
:local(.submitButton) {
  composes: receiveSubmit from "../../components/bases/buttonBase.css";
  composes: styleCoinDefalt;
}

/* 3. MOBILE */

/* 3.1 BUTTONS */
:local(.receiveButtonMobile) {
    composes: receiveButton from "../../components/bases/buttonBase.css";
    composes: styleCoinDefalt;
    height: 40px;
}

:local(.submitButtonMobile) {
    composes: receiveSubmit from "../../components/bases/buttonBase.css";
    composes: styleCoinDefalt;
    height: 40px;
}

@media only screen and (max-width: 599px) {
    :local .styleCoinDefalt {
        box-shadow: none;
    }
    :local(.fontSize) {
        font-size: 14px;
    }    
}