@import url("~slick-carousel/slick/slick.css");
/*

1 BOX COIN
  1.1 BASE
  1.2 TEXTS

2. COINS INFO
  2.1 BASES 
  2.2 TEXTS
  2.3 BUTTONS
    2.3.1 BUTTONS MOBILE / GRID
  2.4 ICONS - COINS

3. HISTORY
  3.1 BASES
  3.2 TEXTS
  3.3 ICONS

3. MODAL
*/

/* ------------------------------------------------------------------------- */
/* 1. BOX COIN*/

/* 1.1 BASES */
:local .boxCoin {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 10px;
  border-radius: 8px;
  opacity: 0.8;
  transition: opacity 0.5s;
  height: 60px;
}

:local .boxCoinDisabled {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

:local .boxCoinActive {
  composes: bgPurpleClear from "../../components/bases/colorBase.css";
  composes: boxCoin;
}

:local .boxCoin:hover {
  include: bgPurpleClear from "../../components/bases/colorBase.css";
  cursor: pointer;
  opacity: 1;
}

:local .contentCoins {
  composes: bgPurpleLight from "../../components/bases/colorBase.css";
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
  margin-left: 1px;
}

:local .boxIconCoin {
  composes: bgPurpleClear from "../../components/bases/colorBase.css";
  padding: 18px;
  float: left;
  border-radius: 8px;
}

:local .iconCoin {
  width: 24px;
  height: 24px;
}

:local .arrowControl {
  justify-content: center;
  align-items: center;
  display: flex;
}

:local .arrowPercent {
  width: 10px;
  margin-bottom: -8px;
}

:local .arrowPercentDown {
  composes: arrowPercent;
  composes: clCoinBitcoin from "../../components/bases/colorBase.css";
}

:local .arrowPercentUp {
  composes: arrowPercent;
  composes: clGreenDefault from "../../components/bases/colorBase.css";
}

:local .arrowPercentDisabled {
  padding-top: 2px;
}

:local .paddingTop8 {
  padding-top: 8%;
}

:local .boxArrowPercent {
  margin-top: 17px;
  margin-left: 39px;
  position: absolute;
}

@media only screen and (max-width: 812px) {
  :local .boxIconCoin {
    background-color: transparent;
    margin-left: -5px;
  }
  :local .boxCoinActive {
    composes: bgPurpleClear from "../../components/bases/colorBase.css";
    composes: boxCoin;
    max-width: 80px;
  }
}

/* 1.2 TEXTS */

:local .boxLabelCoin {
  text-align: right;
  padding-top: 12px;
  padding-right: 5px;
}

:local .boxLabelCoinDisabled {
  font-size: 12px;
  text-align: right;
  padding-top: 25px;
}

:local .labelPercent {
  font-size: 12px;
}

/* ------------------------------------------------------------------------- */
/* 2. COINS INFO */

/* 2.1 BASES */
:local(.wrapperInfoCoins) {
  width: 100%;
  display: flex;
  justify-content: center;
}

:local(.mainWalletInfoCoins) {
  margin-top: 20px;
  justify-content: center;    
  display: flex;
}

:local(.floatRightDesktop) {
  max-width: 100%;
  padding-left: 10px;    
  min-width: 60%;
}

:local(.alignButtonsMobile) {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

:local(.alignContentCoin) {
  padding: 0;
  max-width: 100px; 
}

:local(.styleCoinDefalt) {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05);
}

:local(.contentCoinSelected) {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #473088;    
  text-align: center;
  max-width: 242px;
  padding-left: 8%;
  padding-right: 8%;
  border-radius: 8px;
}

:local(.coinBalance) {
  composes: styleCoinDefalt;
  background-color: #473088;
  font-weight: bold;
  text-align: right;
  min-width: 150px;
  max-height: 116px;
  padding: 10px;
}

@media only screen and (max-width: 599px) {
  :local(.styleCoinDefalt) {
    box-shadow: none;
  }    
  :local(.alignContentCoin) {
    padding: 5% 0;
  }
  :local(.coinBalance) {
    height: 100px;
  }
}

/* 2.2 TEXTS */
:local(.fontSize) {
  font-size: 24px;
}

:local(.coinBalanceGreen) {
  composes: linkDefault from "../../components/bases/textBase.css"; 
  display: inline;
}

:local(.nameCoinSelected) {
  font-size: 19px;
  font-weight: bold;
}

:local(.percentageCoinSelected) {
  composes: textDefault from "../../components/bases/textBase.css";  
  font-size: 22px;
  margin: 10px 0;
}

:local(.valueCoinSelected) {
  composes: textDefault from "../../components/bases/textBase.css";  
  composes: fontSize;
  font-weight: bold;
}

:local(.balanceMyAmount) {    
  composes: fontSize;
}

:local(.balanceAmount) {
  composes: fontSize;
  font-weight: normal;
  margin: 15px 0;
}

@media only screen and (max-width: 599px) {
  :local(.fontSize) {
    font-size: 14px;
  }    
  :local(.nameCoinSelected) {
    font-size: 14px;
  }
  :local(.percentageCoinSelected) { 
    font-size: 12px;
    margin: 0;
  }
}

/* 2.3 BUTTONS */
:local(.alignButtons) {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}

:local(.receiveButton) {
  composes: receiveButton from "../../components/bases/buttonBase.css";
  composes: styleCoinDefalt;
}

:local(.submitButton) {
  composes: receiveSubmit from "../../components/bases/buttonBase.css";
  composes: styleCoinDefalt;
}

/* 2.3.1 BUTTONS MOBILE / GRID */
:local(.receiveButtonMobile) {
  composes: receiveButton from "../../components/bases/buttonBase.css";
  composes: styleCoinDefalt;
  height: 40px;
}

:local(.submitButtonMobile) {
  composes: receiveSubmit from "../../components/bases/buttonBase.css";
  composes: styleCoinDefalt;
  height: 40px;
}

/* 2.4 ICONS - COINS */
:local(.iconCoinSelected) {
  width: 49px;
  margin-top: 10px;
  justify-self: center;
}

@media only screen and (max-width: 599px) {
  :local(.iconCoinSelected) {
    width: 34px;
  }
}

/* ------------------------------------------------------------------------- */
/* 3. HISTORY */

/* 3.1 BASES */
:local(.displayAlign) {
  display: flex;
  justify-content: center;
}

:local(.containerTransactions) {
  composes: displayAlign;  
}

:local(.contentTransactions) {
  border-radius: 8px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05);
  background-color: #473088;
  max-height: 55vh;
  overflow: auto;   
  padding-bottom: 100px;
}

:local(.contentTransactions::-webkit-scrollbar-thumb) {
  background-color: #68f285;
}

:local(.typeItems) {
  text-align: center;
  padding: 10px 0; 
  margin: auto auto;
}

:local(.itemHistorico) {
  display: flex;
  border: 0;
  border-bottom: 1px;
  border-color: #3a1d71;
  border-style: solid;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin: 0 20px;
}

:local(.itemDataHistorico) {
  background-color: #381e67;
  display: flex;
  cursor: default;
  font-size: 9px;
}

:local(.toggleHistory) {
  display: none;
  transition: 2s;
}

:local(.alignItemsHeaderHistory) {
  composes: textDefault from "../../components/bases/textBase.css";  
  padding: 15px 0;
  font-weight: bold;
}

@media only screen and (max-width: 599px) {
  :local(.opacityItem) {
    opacity: 0.5;
  }
  :local(.nivel3) {
    padding-bottom: 60px;
  }
  :local(.itemHistorico) {
    opacity: 0.5;
    margin: 0;
  }
  :local(.contentTransactions) {
    box-shadow: none;
  }
}

/* 3.2 TEXTS */
:local(.text) {
  text-align: center;
  font-size: 16px;
}

:local(.titleBlockExplorer) {
  padding: 10px 15px; 
  margin: auto auto;
  font-weight: bold;
}

:local(.descriptionHistory) {
  padding: 10px 15px;
  font-size: 12px;
}

:local(.valueHistory) {
  text-align: right;
  padding-right: 15px;
}

:local(.sentHistory) {
  composes: clError from "../../components/bases/colorBase.css";
}

:local(.receivedHistory) {
  composes: clGreenLight from "../../components/bases/colorBase.css";
}

:local(.timeHistory) {
  font-weight: bold;
  text-align: center;
}

:local(.dateHistory) {
  font-size: 9px;
}

:local(.fromTransactionHistory) {
  composes: clError from "../../components/bases/colorBase.css";
  padding: 0px 15px;
  font-size: 9px;
}

:local(.forTransactionHistory) {
  composes: clGreenLight from "../../components/bases/colorBase.css";
  padding: 0px 15px;
  font-size: 9px;
}

@media only screen and (max-width: 599px) {
  :local(.descriptionHistory) {
    font-size: 9px;
  }  
  :local(.valueHistory) {
    padding-right: 10px;
  }
}

/* 3.2 ICONS */
:local(.refleshIcon) {
  composes: displayAlign;  
  background-color: #473088;
  border-radius: 20px;
  padding: 6px;
  float: right;
  align-content: center;
}

/* ------------------------------------------------------------------------- */

/* 3. MODAL */

:local .baseStep {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-self: center;
  width: 100%;
  padding-top: 30px;
}

:local .modalBox {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

:local .modalBox {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

@media only screen and (max-width: 400px) {
  :local .modalBox {
    font-size: 12px;
  }
}

:local .boxQr {
  composes: modalBox;
  text-align: -webkit-center;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 0;
}

:local .totalConfirm {
  font-size: 18px;
  font-weight: 700;
}

:local .addressConfirm {
  composes: clGreenDefault from "../../components/bases/colorBase.css";
  font-weight: 700;
}

:local .qrCodeBox {
  width: 100%;
  height: 100%;
  text-align: center;
}

:local .qrCode {
  max-width: 400px;
}

:local .modalBox .hoverShow {
  opacity: 0.5;
  transition: opacity 0.3s;
}

:local .modalBox:hover .hoverShow {
  opacity: 1;
}

:local .bt {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

:local(.btContinue) {
  composes: buttonEnable from "../../components/bases/buttonBase.css";
  composes: bt;
}

:local(.btError) {
  composes: buttonGeneral from "../../components/bases/buttonBase.css";
  composes: bgError from "../../components/bases/colorBase.css";
  composes: bt;
}

:local(.btContinueDisable) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
  composes: bt;
}

:local .boxDecription {
  margin-bottom: 5%;
}

:local .inputClear {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  background: transparent;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 500px;
  color: #68f285;
  margin: 0px;
}

:local .boxPercent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

:local .boxPercent span {
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.5;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

:local .boxPercent span:hover {
  opacity: 1;
  border-color: #fff;
}

:local .boxFee {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

:local .labelFee {
  display: block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

:local .labelFee:hover {
  opacity: 1;
  border-bottom-width: 3px;
  padding-top: 3px;
}

:local .greenLabelFee {
  composes: labelFee;
  border-bottom: solid 1px greenyellow;
}

:local .yellowLabelFee {
  composes: labelFee;
  border-bottom: solid 1px orange;
}

:local .redLabelFee {
  composes: labelFee;
  border-bottom: solid 1px red;
}

:local .textHelp {
  opacity: 0.3;
  font-size: 14px;
  margin-bottom: 50px;
}

:local .confirmFee {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 10px;
}

:local .txtamount {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  background: transparent;
  font-size: 42px;
  text-align: center;
}

:local .txtamount::placeholder {
  font-size: 42px;
  text-align: center;
}

:local(.inputTextDefault) {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  max-width: 260px;
}

:local(.processInfo) {
  padding-bottom: 30px;
}

:local .modalIconCoin {
  max-width: 50px;
  margin-bottom: 20px;
}

:local .errorString {
  composes: clError from "../../components/bases/colorBase.css";
  font-size: 24px;
  font-weight: 700;
  margin-bottom:40px;
}
