@import url("~slick-carousel/slick/slick.css");

/*
1. BASE

2. ICON
*/

/* ------------------------------------------------------------------------- */

/* 1. BASE */

:local .arrowPercent {
  width: 10px;
  margin-bottom: -8px;
}

:local .arrowPercentDown {
  composes: arrowPercent;
  composes: clCoinBitcoin from "../../../../components/bases/colorBase.css";
}

:local .arrowPercentUp {
  composes: arrowPercent;
  composes: clGreenDefault from "../../../../components/bases/colorBase.css";
}

:local .arrowPercentDisabled {
  padding-top: 2px;
}

:local .arrowControl{
  justify-content: center;
  align-items: center;
  display: flex;
}

/* ICON */

:local .contentCoins {
  composes: bgPurpleLight from "../../../../components/bases/colorBase.css";
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.05);
  margin-left: 1px;
}
