/*
1. BUTTON

*/

/* ------------------------------------------------------------------------- */

/* 1. BUTTON */

:local .buttonBorderGreen {
  composes: buttonBorderGreen from "../../../../components/bases/buttonBase.css";
  background-color: transparent;
  max-width: 350px;
}

:local .buttonEnable {
  composes: buttonEnable from "../../../../components/bases/buttonBase.css";
}

:local .baseButton {
  display: flex;
  justify-content: center;
}
