:local(.cardP2p) {
  composes: bgPurpleDefault from "../../../components/bases/colorBase.css";
  width: 230px;
  padding: 20px 5px 8px 5px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  align-items: center;
  max-width: 100%;
  min-height: 305px;
}

:local(.boxContainer) {
  margin: 0;
}

:local(.p2pContainer) {
  justify-content: center;
  height: 90vh;
  align-items: center;
  margin-bottom: 30%;
}

:local(.hr) {
  width: 30%;
  border-bottom: 1px solid #6351a8;
  margin-left: 35%;
  margin-top: 5%;
}

:local(.dollarSign) {
  font-weight: 300;
  font-size: 25px;
  color: #54d467;
  margin-top: 5%;
}

:local(.value) {
  font-size: 60px;
  font-weight: 500;
  color: #54d467;
}

:local(.decimals) {
  font-size: 25px;
  font-weight: 500;
  color: #54d467;
  margin-top: 7px;
}

:local(.containerValue) {
  display: flex;
}

:local(.valueCard) {
  display: inline-flex;
}

@media only screen and (max-width: 1023px) {
  :local(.p2pContainer) {
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    justify-content: space-between;
    height: 75vh;
    align-items: center;
  }
}

@media only screen and (min-width: 1180px) {
  :local(.boxContainer) {
    margin: 0 5%;
  }
}

@media only screen and (min-width: 1600px) {
  :local(.boxContainer) {
    margin: 0 15%;
  }
}

@media only screen and (min-width: 1920px) {
  :local(.boxContainer) {
    margin: 0 20%;
  }
}
