/* 1. BASE */
:local .box {
  composes: bgPurpleDefault from "../../components/bases/colorBase.css";
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(51,51,51,.1);
}

@media screen and (min-width: 600px) {
  :local .box {
    max-width: 60vw !important;
  }
}

@media screen and (min-width: 1280px) {
  :local .box {
    max-width: 40vw !important;
  }
}

:local .buttonBox {
  composes: box;
  background-color: transparent;
  padding: 0;
}

:local(.row) {
  margin: 0.5rem 0 1rem 0;
}

:local .line {
  border-bottom: 2px solid #42227d;
  margin: 2rem 0;
  width: 100%;
}

/* 2. TEXT */
:local .defaultText {
  composes: inputTextDefault from "../../components/bases/textBase.css";
  font-size: 12px;
  font-weight: normal;
}

:local .header {
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  :local .header {
    max-width: 60vw !important;
  }
}

@media screen and (min-width: 1280px) {
  :local .header {
    max-width: 40vw !important;
  }
}

:local .header h1 {
  text-align: center;
  font-size: 14px;
}

:local .header p {
  font-size: 12px;
}

:local .center {
  text-align: center;
}

:local .coinValue {
  composes: inputTextDefault from "../../components/bases/textBase.css";
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-right: 1rem;
}

/* 3. BUTTONS */
:local .buttonBorderGreen {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
  background-color: transparent;
}
