/*
1. BASE
  1.1 BUTTON

2. CARD
  2.1 CARD

*/

/* ------------------------------------------------------------------------- */
/* 1. BASE */



/* 2. BAR */
:local(.topBar) {
  composes: bgPurpleDefault from "../../components/bases/colorBase.css";
  width: 100%;
  border-radius: 10px;
  text-align: center;
  margin: 0px;
  align-items: center;
  max-width: 100%;
  min-height: 80px;
  margin-bottom: 15px;
}
/* 2.1 CARD */
:local(.cardHome) {
  composes: bgPurpleDefault from "../../components/bases/colorBase.css";
  width: 702px;  
  height: 599px;
  border-radius: 10px;
  padding: 5px 5px 8px 5px;  
  align-items: center;
  margin: 10px;
  max-width: 100%;
  min-height: 300px;
}

:local(.homeContainer) {
  justify-content: center;
  height: 90vh;
  align-items: center;
}

:local(.boxContainer) {
  margin: 0;
}

@media only screen and (min-width: 1180px) {
  :local(.boxContainer) {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 1600px) {
  :local(.boxContainer) {
    margin: 0 20%;
  }
}

@media only screen and (min-width: 1920px) {
  :local(.boxContainer) {
    margin: 0 30%;
  }
}
:local(.row) {
  padding: 20px 5px 5px 20px; 
  width: 95%;
  align-items: center;
  justify-content: center;
}
/* 3. BUTTONS */
:local .buttonBorderGreen {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
  background-color: #68f285;
  width: 286px;
  text-align: center;
  margin-left: 30px;
  margin-top: 14px;
}
:local(.contentChat){
  width: 89%;
  height: 260px;
  margin-left: 30px;
  margin-bottom: 0;
  border-radius: 6px;
}
:local(.inputTextDefault) {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  width: 85%;
  text-align: center;
  margin-bottom: 5px;
}
:local(.inputChat) {
  right:    0;
  bottom:   0;
  float: inherit;
  color: black;
  background-color: aliceblue
}
/* Text */

:local(.textGreen) {
  font-size: 12px;
  color: #68f285;  
  width: 85%;
  max-width: 100%;
}
:local(.instructions) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: block;
  text-align: center;
}

:local(.instructions a) {
  text-decoration: none;
  color: #ffffff;
}

:local(.instructions img) {
  position: relative;
  left: 10px;
  top: 5px;
}

/* MODAL*/
:local(.infoModal) {
  width: 95%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: white;
}

:local(.infoModal p) {
    margin: 50px 0;
}

@media only screen and (max-width: 499px) {
  :local(.infoModal) {
    font-size: 11px;
    width: 40vh;
  }
}
