/*

1. CUPONS
1.1  BASES

2. MODAL
2.1 BASES
  
*/

/* ------------------------------------------------------------------------- */

/* 1. CUPONS*/

/* 1.1 BASES*/

/* ------------------------------------------------------------------------- */

/* 2. MODAL*/

/* 2.1 BASES*/
:local(.alignInstructions) {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    width: 100%;
    padding: 5% 10%;
    min-height: 52vh;
}

/* 2.2 TEXTS*/
:local(.alignInstructions, ol) {
    /* background-color: violet; */
    list-style-type: decimal;
    display: grid;
    font-size: 19.2px;
}

:local(.alignInstructions, ol li) {
    color: #68f285; 
    font-weight: bold;
    padding-bottom: 5vh;
}

:local(.alignInstructions, ol li, span) {
    color: white;
    font-weight: normal;
}

@media only screen and (max-width: 425px) {
    :local(.alignInstructions) {
        height: 75vh;
    }
    :local(.alignInstructions, ol li) {
        padding-bottom: 10vh;
        font-size: 11px;
    }
} 