:local .modalContainerChat {
  padding-top:  50px;
  max-width: 100%;
  text-align: center;
}

:local .modalImgChat {
  width: 11%;
}

:local .openChat {
  width: 100%;
}

:local .textOpenChat {
  width: 90%;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 50px auto 60px auto;
}

:local .btnTalkChat {
  composes: buttonEnable from "../../../../components/bases/buttonBase.css";
  width: 30%;
  height: 60px; 
  margin: 2vh;
  font-weight: bold;
  padding: 0;
}

:local .btnNotTalkChat {
  composes: buttonEnable from "../../../../components/bases/buttonBase.css";
  width: 30%;
  height: 60px; 
  background: none;
  border: solid 1px #68f285;
  margin: 2vh;
  font-weight: bold;
  padding: 0;
}
