@import url("./colorBase.css");
/*

1. BUTTON
  1.1 BUTTON GREEN
  1.2 BUTTON PURPLE
*/

/* ------------------------------------------------------------------------- */

/* 1. BUTTON GENERAL*/
:local(.buttonGeneral) {
  composes: textDefault from "./textBase.css";
  border-radius: 6px;
  border: none;
  color: white;
  padding: 15px;
  width: 100%;
  height: 50px;
}

:local(.buttonDefault) {
  composes: textDefault from "./textBase.css";
  border-radius: 6px;
  border: none;
  padding: 15px;
  width: 100%;
  height: 50px;
}

:local(.buttonDefault:hover) {
  opacity: 0.8;
  cursor: pointer;
}

:local(.buttonDisabled) {
  composes: textDefault from "./textBase.css";
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  height: 50px;
}

:local(.buttonDisabled:hover) {
  opacity: 0.8;
  cursor: pointer;
}

/* 1.1 BUTTON GREEN */
:local(.buttonEnable) {
  composes: buttonDefault;
  composes: bgGreenLight from "./colorBase.css";
}

/* 1.2 BUTTON PURPLE */
:local(.buttonPurpleClear) {
  composes: buttonGeneral;
  composes: bgPurpleClear from "./colorBase.css";
}
:local(.buttonPurpleLight) {
  composes: buttonGeneral;
  composes: bgPurpleDefault from "./colorBase.css";
}
:local(.buttonPurpleDark) {
  composes: buttonGeneral;
  composes: bgPurpleDark from "./colorBase.css";
}

:local(.buttonBorderGreen) {
  composes: buttonDisabled;
  composes: bgPurpleDark from "./colorBase.css";
  composes: bdGreenLight from "./colorBase.css";
  border-style: solid;
  border-width: 1px;
}

/* ------------------------------------------------------------------------- */
