/*

1 PURPLE
  1.1 BACKGROUND (bgColorName)
  1.2 COLOR (clColorName)
2 GREEN
  2.1 BACKGROUND
  2.2 COLOR
  2.3 BORDER
3 COINS
  3.1 BACKGROUND
  3.2 COLOR
4 MESSAGES
  4.1 BACKGROUND
  4.2 COLOR
*/

/* ------------------------------------------------------------------------- */

/* 1 PURPLE */
/* 1.1 BACKGROUND */
:local(.bgPurpleDefault) {
  background-color: #4b2c82;
}
:local(.bgPurpleClear) {
  background-color: #654fa4;
}
:local(.bgPurpleLight) {
  background-color: #4b2c82;
}
:local(.bgPurpleDark) {
  background-color: #3b1878;
}

/* 1.2 COLOR */
:local(.clPurpleDefault) {
  color: #4b2c82;
}
:local(.clPurpleLight) {
  color: #4b2c82;
}
:local(.clPurpleDark) {
  color: #3b1878;
}

/* ------------------------------------------------------------------------- */

/* 2 GREEN */
/* 2.1 BACKGROUND */
:local(.bgGreenDefault) {
  background-color: #4cd566;
}
:local(.bgGreenLight) {
  background-color: #4cd566;
}
:local(.bgGreenDark) {
  background-color: #000;
}

/* 2.2 COLOR */
:local(.clGreenDefault) {
  color: #4cd566;
}
:local(.clGreenLight) {
  color: #4cd566;
}
:local(.clGreenDark) {
  color: #000;
}

/* 2.3 BORDER */
:local(.bdGreenDefault) {
  border-color: #4cd566;
}
:local(.bdGreenLight) {
  border-color: #4cd566;
}
:local(.bdGreenDark) {
  border-color: #000;
}

/* ------------------------------------------------------------------------- */

/* 3 COINS */
/* 3.1 BACKGROUND */
:local(.bgCoinLunes) {
  background-color: #4cd566;
}
:local(.bgCoinBitcoin) {
  background-color: #f7921a;
}

/* 3.2 COLOR */
:local(.clCoinLunes) {
  color: #4cd566;
}
:local(.clCoinBitcoin) {
  color: #f7921a;
}

/* ------------------------------------------------------------------------- */

/* 4 MESSAGES */
/* 4.1 BACKGROUND */
:local(.bgSuccess) {
  background-color: #4cd566;
}
:local(.bgError) {
  background-color: #ff445b;
}
:local(.bgInfo) {
  background-color: #ffffff;
}

/* 4.2 COLOR */
:local(.clSuccess) {
  color: #4cd566;
}
:local(.clError) {
  color: #ff445b;
}
:local(.clInfo) {
  color: #ffffff;
}