:local(.tabContainer) {
  width: 100%;
  padding: .5rem 0;
}

:local(.tabContents) {
  margin: 0;
}

@media screen and (min-width: 1280px) {
  :local(.tabContents) {
    margin: 0 6%;
  }
}


@media (min-width: 1280px) {
  :local(.inputTextDefault) {
    margin: 2rem;
  }
}
