/*
  1. BASE
  2. TEXT
*/

/* ======================================= */

/* 1. BASE */
:local .itemContainer {
  composes: bgPurpleLight from "../../../components/bases/colorBase.css";
  display: flex;  
  min-width: 75%;
  max-width: 100%;
  min-width: 60px;
  max-height: 100%;
  border-radius: 5px;
  margin: 10px auto;
}

:local .avatar {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
}

:local .right {
  text-align: right;
  margin: 0 10px;
}

/* 2. TEXT */
:local .textDefault {
  composes: textDefault from "../../../components/bases/textBase.css";
  font-size: 12px;
}

:local .name {
  composes: textDefault;
  font-weight: bold;
  margin: 1.5rem 0;
  display: flex;
  align-content: center;
}

:local .message {
  composes: textDefault;
  margin-top: 1rem;
}

:local .message p {
  margin: 5px 0;
}

:local .title {
  font-weight: bold;
}

:local .greenText {  
  composes: linkDefault from "../../../components/bases/textBase.css";
  margin-top: 35px;
  font-weight: bold;
  font-size: 12px;
}

:local .time {
  composes: textDefault;
  font-weight: bold;
}
:local .line{
  width: 2px;
  height: 50px;
  min-height: 100%;
  max-height: 100%;
  margin-left: 92%;
  margin-top: -1px;
  float: left;
  border-left: 2px solid #ffffff;
}
:local .radius{
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 19%;
  justify-content: center;
  justify-items: center;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
:local .textTime{ 
  composes: textDefault;
  float: left;
  margin-top: 19%;
  margin-left: 45%;
  font-weight: bold;
  font-size: 12px;
}
:local .contentItemTime{ 
  margin: auto;
  justify-content: center;
  justify-items: right;
}


