:local(.hr) {
  border-top: 2px solid #654fa4;
  width: 100%;
}
:local(.imgNoNotification) {
  margin-top: 20%;
}
:local(.paragraphs) {
  font-size: 19px;
  color: #ffffff;
  letter-spacing: 0.2px;
  font-weight: bold;
}
:local .container {
  margin: 1rem 2rem;
}
