/* BASE */
:local(.instructions) {
  composes: textDefault from "../../../components/bases/textBase.css";
  text-align: center;
}

:local(.instructions a) {
  text-decoration: none;
  color: #ffffff;
}

:local(.instructions img) {
  position: relative;
  left: 10px;
  top: 5px;
}

/* MODAL*/
:local(.alignInstructions){  
  width: 75%;
  margin-left: 10%;
  margin-right: 5%;
  padding: 20px;
  margin-top: 60px;
}
:local(.alignInstructions, ol) {
  list-style-type: upper-alpha;
  font-size: 14px;
}

:local(.alignInstructions, ol li) {
  color: #68f285;
  font-weight: bold;
  padding: 2vh;
}

:local(.alignInstructions, ol li, span) {
  color: white;
  font-weight: normal;
}

:local(.infoModal) {
  width: 90vh;
  font-size: 14px;
  color: white;
}

@media only screen and (max-width: 600px) {
  :local(.alignInstructions){
    padding: 20px;
    margin-top: 40px;
  }
  :local(.alignInstructions, ol li) {
    font-size: 11px;
  }
  :local(.infoModal) {
    font-size: 11px;
    width: 40vh;
  }
}
