/*

1. BASES 

2. TEXTS

3. BUTTONS 

4. IMAGES

*/


:local .header {
  margin: 0 auto;
}

:local .card {
  background-color: red;
  padding: 20px;
  margin-bottom:20px;
}

:local .icon{
  margin-right: 15px;
  height: 30px;
}