/*

1. BASE

2. TEXT

3. IMAGES/UI


*/

/* ------------------------------------------------------------------------- */

/* 1. BASE */

:local(.colContainer) {
  composes: bgPurpleDark from "../../components/bases/colorBase.css";
  height: 85vh;
  overflow: auto;
  padding: 8px;
  padding-left: 0;
  padding-right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

:local(.colMenu) {
  composes: bgPurpleLight from "../../components/bases/colorBase.css";
  height: 100vh;
  overflow: auto;
  padding-top: 30px;
  transition: 0.5s;
  z-index: 999;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
}

:local(.header) {
  composes: bgPurpleLight from "../../components/bases/colorBase.css";
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

:local .boxUserMenu {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #3b1878;
}

:local(.boxAvatarUser) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:local(.boxNameUser) {
  display: flex;
  align-items: center;
}

:local .boxLogo {
  flex-grow: 1;
}

:local .boxBalance {
  text-align: right;
  font-size: 16px;
}

:local .menuUser {
  composes: bgPurpleLight from "../../components/bases/colorBase.css";
  margin-top: 15px;
  width: 170px;
  border-radius: 8px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 16px;
  z-index: 999;
}

@media only screen and (max-width: 599px) {
  :local .boxBalance {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1279px) {
  :local .colMenu {
    position: absolute;
    width: 200px;
    padding-top: 0;
    overflow-y: auto;
  }
}

/* ------------------------------------------------------------------------- */

/* 2. TEXT */

:local(.linkMenu) {
  composes: linkDefault from "../../components/bases/textBase.css";
  composes: bdGreenDefault from "../../components/bases/colorBase.css";
  font-weight: bold;
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #654ea6;
  transition: 0.3s;
}

:local .linkMenu img {
  filter: grayscale(100%);
  opacity: 0.2;
}

:local .linkMenu:hover {
  padding-left: 14px;
  border-left-style: solid;
  border-left-width: 6px;
  opacity: 1;
  color: white;
  transition: 0.3s;
}

:local .linkMenu:hover img {
  filter: grayscale(0);
  opacity: 1;
}

:local(.linkMenuActive) {
  composes: linkDefault from "../../components/bases/textBase.css";
  composes: bdGreenDefault from "../../components/bases/colorBase.css";
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  padding-left: 14px;
  border-left-style: solid;
  border-left-width: 6px;
  opacity: 1;
}

:local .linkMenuActive img {
  filter: grayscale(0);
  opacity: 1;
}

:local .link {
  composes: linkDefault from "../../components/bases/textBase.css";
  display: block;
  padding-top: 5px;
  color: #ffffff;
  font-size: 9px;
  margin: 0 0 10px;
  font-weight: bold;
}

:local .userName {
  font-size: 14px;
  font-weight: bold;
}

:local .textBalance {
  composes: offside from "../../components/bases/textBase.css";
}

:local .textGreen {
  composes: clGreenDefault from "../../components/bases/colorBase.css";
}

:local .textBalanceFiat {
  composes: clGreenDefault from "../../components/bases/colorBase.css";
  display: block;
  font-size: 10px;
}

:local .linkPopMenu {
  display: block;
  font-size: 14px;
  padding-bottom: 14px;
  padding-top: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff;
  width: 170px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

:local .linkPopMenu:hover {
  opacity: 1;
}

:local .linkPopMenu:hover img {
  opacity: 1;
  color: #ffffff;
}

/* ------------------------------------------------------------------------- */

/* 3. IMAGES/UI */

:local .menuHamb {
  background-color: "red";
  margin-left: -16px;
}

:local(.linkMenu img) {
  float: left;
  display: block;
  margin-right: 28px;
}

:local .iconMenu {
  width: 17px;
}

:local .avatarHeader {
  margin-left: 15px;
  cursor: pointer;
}

:local .logo {
  display: block;
  width: 80px;
  margin-left: 8px;
}

:local .iconNotification {
  float: right;
  display: block;
  margin: 15px;
  opacity: 0.3;
}

:local .iconNotificationActive {
  opacity: 1;
}

:local .iconNotificationActive:hover .animeNotification {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* eslint-disable */
:local .arrowUp {
  composes: bgPurpleLight from "../../components/bases/colorBase.css";
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  position: absolute;
  right: 15px;
  margin-top: -7px;
}

:local .linkPopMenu .boxIcon {
  width: 17px;
  height: 17px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -3px;
  float: left;
  justify-content: center;
  text-align: center;
  padding: 2px;
}

:local .linkPopMenu .boxIcon img {
  height: 90%;
}

@keyframes :local(shake) {
  25%,
  75% {
    transform: rotate(5deg);
  }
  50%,
  100% {
    transform: rotate(-5deg);
  }
}
/* eslint-enable */

@media only screen and (max-width: 599px) {
  :local .logo {
    width: 75px;
    margin-left: 14px;
  }
  :local .menuHamb {
    background-color: "red";
    margin-left: -12px;
  }
}

@media only screen and (min-width: 1280px) {
  :local .logo {
    margin-left: -5px;
  }
  :local(.linkMenu img) {
    margin-right: 16px;
  }
}

/* ------------------------------------------------------------------------- */

/* 4. LOADING */
/* 4.1 LOGO */
:local(.logoLoading) {
  composes: logo;
  width: 200px;
  margin-bottom: 2%;
  display: inline;
}

/* 4.2 ITEMS */
:local(.screenLoadingContainer) {
  width: 50%;
  height: 100vh;
  align-content: center;
}
:local(.itemsLoadingContainer) {
  width: 100%;
  text-align: center;
}

:local(.alignLoadingContainer) {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

:local(body) {
  background-color: #42227d;
}
:local(.menuP2P) {
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  margin-top: 100px;
  margin-bottom: 50%;
}
:local .iconP2p {
  width: 40px;
  height: 40px;
}
:local .linkMenuP2P {
  top: 100%;
  margin-top: -100px;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

:local .linkMenuP2PActive {
  top: 100%;
  margin-top: -100px;
  opacity: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

:local .linkMenuP2P:hover {
  opacity: 1;
}

@media only screen and (max-width: 599px) {
  :local(.linkMenuP2P) {
    position: static;
    margin-top: 10px;
    margin-bottom: 30px;
    opacity: 1;
  }
}
