:local .textGreen {
  composes: clGreenDefault from "../../../../components/bases/colorBase.css";
}

:local .textSmall {
  composes: textGreen;
  font-size: 11px;
  display: block;
}

:local .numberText {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  margin-top: 4px;
}

:local(.card) {
  composes: bgPurpleClear from "../../../../components/bases/colorBase.css";
  font-size: 11px;
  width: 80%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 6px;
}

:local(.buy) {
  margin-left: 20px;
  margin-right: 25px;
}

:local(.payment) {
  margin-left: 0px;
  margin-right: 40px;
}

:local .textDetails {
  composes: bgPurpleClear from "../../../../components/bases/colorBase.css";
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 11px;
}

:local .btContinue {
  composes: buttonEnable from "../../../../components/bases/buttonBase.css";

  margin-left: 35px;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  font-weight: bold;
  }

  @media only screen and (max-width: 599px) {
    :local .btContinue {
      composes: buttonEnable from "../../../../components/bases/buttonBase.css";
    
      margin-left: 45px;
      margin-right: auto;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 110px;
      font-weight: bold;
      }
  }

:local .buttonGeneral {
  composes: buttonEnable from "../../../../components/bases/buttonBase.css";

  margin-left: auto;
  margin-right: 35px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 160px;
  background-color: #0099ff;
}

@media only screen and (max-width: 599px) {
  :local .buttonGeneral {
    composes: buttonEnable from "../../../../components/bases/buttonBase.css";
  
    margin-left: auto;
    margin-right: 40px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 110px;
    background-color: #0099ff;
  }
}

:local .offerText {
  display: flex;
  width: 100%;
  align-content: space-between;
}

:local .inputDefault {
  composes: inputTextDefault from "../../../../components/bases/inputBase.css";
  font-size: 12px;
  padding: 5px;
  width: 320px;
  height: 24px;
  text-align:center;
  border:none;
  position: none; 
  margin-left: 35px;
  margin-top:20px;
  background-color: #654fa4;
  }

@media only screen and (max-width: 599px) {
  :local .inputDefault {
    composes: inputTextDefault from "../../../../components/bases/inputBase.css";
    font-size: 12px;
    padding: 5px;
    width: 220px;
    height: 24px;
    text-align:center;
    border:none;
    position: none; 
    margin-left: 45px;
    margin-top:20px;
    background-color: #654fa4;
    }
}

:local .inputDefault::placeholder {
  font-size:12px;
}


:local .textArea {
  composes: inputDefault;
  height: auto;
  min-height: 100px;
}

:local .formGroup {
  width: 100%;
  margin-left: 15px;
  margin-bottom: 2px;
  align-items: center; 
}