:local .wrapper {
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  position: relative;
}

:local .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:local .title {
  display: flex;
}

:local .list {
  composes: bgPurpleDefault from "../../components/bases/colorBase.css";
  display: block;
  list-style: none;
  margin-left: -10px;
  margin-top: 12px;
  max-height: 150px;
  padding: 5px;
  overflow-y: auto;
  position: absolute;
  z-index: 99999;
}

:local .listItem {
  display: flex;
  padding: 10px;
}

:local .wrapper img {
  margin-right: 1rem;
  max-width: 25px;
  max-height: 25px;
  position: relative;
  top: -2px;
}

@media only screen and (max-width:599px) {
:local(.wrapper) {
  font-size: 1.2vh;
  padding: 0;
}
}
@media only screen and (min-width:600px) {
  :local(.wrapper) {
    font-size: 1.2vh;
  }
}