/*

1. LOGIN
  1.1 BUTTON
  1.2 INPUT
  1.3 LINKS
  1.4 TEXTS
  1.5 LOGO 

2. FOOTER 
  2.1. LINKS

*/

/* ------------------------------------------------------------------------- */

/* 1. LOGIN */
:local(.formLogin) {
  margin: 25px;
  padding: 15px;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

/* 1.1 BUTTON */
:local(.buttonEnable) {
  composes: buttonGreenLight from "../../components/bases/buttonBase.css";
}

:local(.buttonDisable) {
  composes: buttonPurpleDark from "../../components/bases/buttonBase.css";
}

:local(.buttonPurpleClear) {
  composes: buttonPurpleClear from "../../components/bases/buttonBase.css";
}

:local(.buttonBorderGreen) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
}

/* 1.2 INPUT */
:local(.inputTextDefault) {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  margin-bottom: 30px;
}

/* 1.3 LINKS */
:local(.link) {
  composes: linkDefault from "../../components/bases/textBase.css";
}

:local(.doNotLink) {
  composes: linkDefault from "../../components/bases/textBase.css";
  font-size: 16px;
}

/* 1.4 TEXT DESCRIPTION */
:local(.description) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: block;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

:local(.textForgetPass) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: block;
  text-align: right;
  margin-bottom: 25px;
  text-decoration: none;
}

:local(.doNotHaveAccount) {
  composes: textDefault from "../../components/bases/textBase.css";
  font-size: 16px;
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* 1.5 LOGO */
:local(.logo) {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------------------------- */

/* 2. FOOTER */
/* 2.1 GENERAL */
:local(.footer) {
  composes: clGreenDefault from "../../components/bases/colorBase.css";
  font-size: 12px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

/* 2.1 LINKS */
:local(.footerLink) {
  composes: linkDefault from "../../components/bases/textBase.css";
  font-size: 12px;
}

:local(.footerSpace) {
  margin-left: 15px;
  margin-right: 15px;
}

