/*

1. GENERAL COMPONENTS
  1.1 CONTAINER GENERAL
  1.2 BUTTON
  1.3 INPUT
  1.4 LINKS
  1.5 IMAGES 

2. FOOTER 
  2.1 GENERAL
  2.2 LINKS

3. LOGIN
  3.1 TEXTS

4. RESET
  4.1 TEXTS
  4.2 ICONE
  4.3 INPUT ERROR
  4.4 NEW PASSWORD
*/

/* ------------------------------------------------------------------------- */

/* 1. GENERAL COMPONENTS */

/* 1.1 CONTAINER GENERAL */
:local(.contGeneral) {
  margin: 25px;
  padding: 15px;
  width: 100%;
  height: 600px;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* 1.2 BUTTON */
:local(.buttonEnable) {
  composes: buttonGreenLight from "../../components/bases/buttonBase.css";
}

:local(.buttonDisable) {
  composes: buttonPurpleDark from "../../components/bases/buttonBase.css";
}

:local(.buttonPurpleClear) {
  composes: buttonPurpleClear from "../../components/bases/buttonBase.css";
}

:local(.buttonBorderGreen) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
}

/* 1.3 INPUT */
:local(.inputTextDefault) {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  margin-bottom: 30px;
}

/* 1.4 LINKS */
:local(.link) {
  composes: linkDefault from "../../components/bases/textBase.css";
}

:local(.doNotLink) {
  composes: linkDefault from "../../components/bases/textBase.css";
  font-size: 16px;
}

/* 1.5 IMAGES */
:local(.logo) {
  display: block;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

:local(.iconHeader) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

:local(.resetHeader) {
  composes: textDefault from "../../components/bases/textBase.css";
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 22px;
  text-align: center;
  font-weight: 800;
}

/* ------------------------------------------------------------------------- */

/* 2. FOOTER */
/* 2.1 GENERAL */
:local(.footer) {
  composes: clGreenDefault from "../../components/bases/colorBase.css";
  font-size: 12px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  font-weight: 500;
}

/* 2.1 LINKS */
:local(.footerLink) {
  composes: linkDefault from "../../components/bases/textBase.css";
  font-size: 12px;
}

:local(.footerSpace) {
  margin-left: 15px;
  margin-right: 15px;
}

/* ------------------------------------------------------------------------- */

/* 3 LOGIN */

/* 3.1 TEXT */
:local(.description) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: block;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

:local(.textForgetPass) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: block;
  text-align: right;
  margin-bottom: 25px;
  text-decoration: none;
}

:local(.doNotHaveAccount) {
  composes: textDefault from "../../components/bases/textBase.css";
  font-size: 16px;
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* ------------------------------------------------------------------------- */

/* 4. RESET */
/* 4.1 TEXTS */
:local(.p) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

:local(.p2) {
  composes: textDefault from "../../components/bases/textBase.css";
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}

/* 4.2 INPUT ERROR */
:local(.inputError){
  composes: inputTextDefault;
  color: red;
  border: 1px solid red;
}

/* 4.3 NEW PASSWORD */
:local(.iconHeader) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

:local(.passwordRules) {
  font-size: 10px;
  font-weight: bold;
  display: block;
  text-align: center;
}

:local(.passwordRulesItens) {
  margin: 20px 0;
  font-size: 12px;
}

:local(.iconListValid) {
  margin: 0;
  margin-bottom: -8px;
  margin-right: 10px;
  width: 14px;
}

/* 4.4 MESSAGE */
:local(.resetEmailSend){
  composes: textDefault from "../../components/bases/textBase.css";
  margin: 55px 0 100px 0;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

/* 4.5 LINKS */

:local(.resetLinkLogin){
  composes: defaultP from "../../components/bases/textBase.css";
  color: white;
  text-decoration: none;
}

/* 4.6 ICONS */
:local(.iconArrow) {
  display: inline;
  float: right;
} 

/* ------------------------------------------------------------------------- */
