/*

1. GENERAL COMPONENTS
  1.1 CONTAINER GENERAL
  1.2 BUTTON
  1.3 INPUT
  1.4 LINKS
  1.5 LOGO 

2. FOOTER 
  2.1 CONTAINER GENERAL
  2.2 LINKS

3. LOGIN
  3.1 TEXTS

4. RESET
  4.1 TEXTS
  4.2 ICONE
  4.3 INPUT ERROR
*/

/* ------------------------------------------------------------------------- */

/* 1. GENERAL COMPONENTS */

/* 1.1 CONTAINER GENERAL */
:local(.contGeneral) {
  margin: 25px;
  padding: 15px;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

/* 1.2 BUTTON */
:local(.buttonEnable) {
  composes: buttonGreenLight from "../../components/Bases/buttonBase.css";
}

:local(.buttonDisable) {
  composes: buttonPurpleDark from "../../components/Bases/buttonBase.css";
}

:local(.buttonPurpleClear) {
  composes: buttonPurpleClear from "../../components/Bases/buttonBase.css";
}

:local(.buttonBorderGreen) {
  composes: buttonBorderGreen from "../../components/Bases/buttonBase.css";
}

/* 1.3 INPUT */
:local(.inputTextDefault) {
  composes: inputTextDefault from "../../components/Bases/inputBase.css";
  margin-bottom: 30px;
}

/* 1.4 LINKS */
:local(.link) {
  composes: linkDefault from "../../components/Bases/textBase.css";
}

:local(.doNotLink) {
  composes: linkDefault from "../../components/Bases/textBase.css";
  font-size: 16px;
}

/* 1.5 LOGO */
:local(.logo) {
  display: block;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------------------------- */

/* 2. FOOTER */
/* 2.1 GENERAL */
:local(.footer) {
  composes: clGreenDefault from "../../components/Bases/colorBase.css";
  font-size: 12px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  font-weight: 500;
}

/* 2.1 LINKS */
:local(.footerLink) {
  composes: linkDefault from "../../components/Bases/textBase.css";
  font-size: 12px;
}

:local(.footerSpace) {
  margin-left: 15px;
  margin-right: 15px;
}

/* ------------------------------------------------------------------------- */

/* 3 LOGIN */

/* 3.1 TEXT DESCRIPTION */
:local(.description) {
  composes: textDefault from "../../components/Bases/textBase.css";
  display: block;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

:local(.textForgetPass) {
  composes: textDefault from "../../components/Bases/textBase.css";
  display: block;
  text-align: right;
  margin-bottom: 25px;
  text-decoration: none;
}

:local(.doNotHaveAccount) {
  composes: textDefault from "../../components/Bases/textBase.css";
  font-size: 16px;
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* 4. RESET */

/* 4.1 TEXTS */
:local(.p) {
  composes: textDefault from "../../components/Bases/textBase.css";
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

:local(.p2) {
  composes: textDefault from "../../components/Bases/textBase.css";
  display: block;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* 4.2 ICONE */
:local(.iconEmail) {
  display: block;
  width: 55px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
:local(.resetHeader) {
  composes: textDefault from "../../components/Bases/textBase.css";
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 22px;
  text-align: center;
  font-weight: 800;
}

/* 4.3 INPUT ERROR */
:local(.inputError){
  composes: inputTextDefault;
  color: red;
  border: 1px solid red;
}
