/*

1. GENERAL COMPONENTS
  1.1 CONTAINER GENERAL
  1.2 BUTTON
  1.3 INPUT
  1.4 LINKS
  1.5 IMAGES 

2. FOOTER 
  2.1 GENERAL
  2.2 LINKS

3. LOGIN
  3.1 TEXTS

4. RESET
  4.1 TEXTS
  4.2 ICONS
  4.2 LINKS
  4.4 LOGO

5. PIN
  5.1 INPUT
  5.2 TEXTS

6. CREATE / NEW ACCOUNT
  6.1 TEXTS
  6.2 ICONS

7. TWO FACTORS AUTHENTICATOR 
  7.1 INPUT
  7.2 TEXTS

8. SEED
  8.1 INPUT
  8.2 TEXTS

*/

/* ------------------------------------------------------------------------- */

/* 1. GENERAL COMPONENTS */

/* 1.2 BUTTON */
:local(.buttonEnable) {
  composes: buttonGreenLight from "../../components/bases/buttonBase.css";
}

:local(.buttonDisable) {
  composes: buttonPurpleDark from "../../components/bases/buttonBase.css";
}

:local(.buttonPurpleClear) {
  composes: buttonPurpleClear from "../../components/bases/buttonBase.css";
  margin-bottom: 25px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 17px;
}

:local(.buttonBorderGreen) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
}

:local(.buttonGreen) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
  composes: bgGreenDefault from "../../components/bases/colorBase.css";
}

/* 1.3 INPUT */
:local(.inputTextDefault) {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
}

:local(.inputTextError) {
  composes: inputTextError from "../../components/bases/inputBase.css";
}

/* 1.4 LINKS */
:local(.link) {
  composes: linkDefault from "../../components/bases/textBase.css";
}

:local(.doNotLink) {
  composes: linkDefault from "../../components/bases/textBase.css";
  font-size: 16px;
}

/* 1.5 IMAGES */
:local(.logo) {
  display: block;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

:local(.iconHeader) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

:local(.resetHeader) {
  composes: textDefault from "../../components/bases/textBase.css";
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 22px;
  text-align: center;
  font-weight: 800;
}

/* ------------------------------------------------------------------------- */

/* 2. FOOTER */

/* 2.1 GENERAL */
:local(.footer) {
  composes: clGreenDefault from "../../components/bases/colorBase.css";
  font-size: 12px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  font-weight: 500;
}

/* 2.1 LINKS */
:local(.footerLink) {
  composes: linkDefault from "../../components/bases/textBase.css";
  font-size: 12px;
}

:local(.footerSpace) {
  margin-left: 15px;
  margin-right: 15px;
}

/* ------------------------------------------------------------------------- */

/* 3 LOGIN */

/* 3.1 TEXTS */
:local(.description) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: block;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

:local(.textForgetPass) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: block;
  text-align: right;
  margin-bottom: 25px;
  text-decoration: none;
}

:local(.doNotHaveAccount) {
  composes: textDefault from "../../components/bases/textBase.css";
  font-size: 16px;
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* ------------------------------------------------------------------------- */

/* 4. RESET */

/* 4.1 TEXTS */
:local(.resetInstruction) {
  composes: textDefault from "../../components/bases/textBase.css";
  text-align: center;
  margin: 20px 0px 25px 0px;
  font-weight: bold;
}

:local(.resetEmailSend) {
  composes: textDefault from "../../components/bases/textBase.css";
  margin: 55px 0 100px 0;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

:local(.passwordRules) {
  font-size: 10px;
  font-weight: bold;
  display: block;
  text-align: center;
}

:local(.passwordRulesItens) {
  margin: 20px 0;
  font-size: 12px;
}

/* 4.2 ICONS */
:local(.iconArrowBack) {
  float: left;
  width: 24px;
  margin-top: 6px;
}

:local(.iconEmail) {
  display: block;
  width: 55px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

:local(.iconHeader) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

:local(.iconListValid) {
  margin: 0;
  margin-bottom: -8px;
  margin-right: 10px;
  width: 14px;
}

/* 4.3 LINKS */
:local(.resetLinkLogin) {
  composes: defaultP from "../../components/bases/textBase.css";
  color: white;
  text-decoration: none;
}

/* 4.4 LOGO */
:local(.logoReset) {
  composes: logo;
  padding-right: 24px;
}

/* ------------------------------------------------------------------------- */

/* PIN */

/* 5.1 INPUT */
:local(.inputPINDefault) {
  composes: inputTextDefault from "../../components/bases/textBase.css";
  composes: bgPurpleDefault from "../../components/bases/colorBase.css";
  composes: bdPurpleDefault from "../../components/bases/colorBase.css";
  border-width: 1px;
  border-style: solid;
  width: 55px;
  padding: 10px 10px 4px;
  border-radius: 6px;
  height: 35px;
  color: white;
  font-size: 35px;
  text-align: center;
  margin: 1px;
}

:local(.inputPINError) {
  composes: bdError from "../../components/bases/colorBase.css";
  composes: inputPINDefault;
  border-width: 1px;
  border-style: solid;
  color: #ff445b;
}

:local(.alignInputsDefault) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* 5.2 TEXTS */
:local(.descriptionLinkPIN) {
  composes: description;
  margin: 25px 0 25px 0;
  text-align: right;
}

:local(.descriptionPIN) {
  composes: description;
  margin-top: 150px;
}

/* ------------------------------------------------------------------------- */

/* 6. CREATE / NEW ACCOUNT */

/* 6.1 TEXTS */
:local(.newAccountHeader) {
  composes: textDefault from "../../components/bases/textBase.css";
  margin-top: 35px;
  margin-bottom: 55px;
  text-align: center;
  font-weight: bold;
}

:local(.alignInfoTermsOfServices) {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 15px;
}

:local(.acceptTermsOfServices) {
  composes: textDefault from "../../components/bases/textBase.css";
  display: inline;
}

:local(.linkTermsOfServices) {
  composes: link;
  font-style: italic;
}

:local(.messageConfirmationRegister) {
  composes: textDefault from "../../components/bases/textBase.css";
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 80px;
}

/* 6.2 ICONS */
:local(.iconEmailCreateAccount) {
  composes: iconEmail;
  width: 92px;
  height: 95px;
  margin-top: 20vh;
  margin-bottom: 2vh;
}

:local(.arrowToLogin) {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

:local(.arrowToLoginAlign) {
  padding-left: 40%;
}

/* ------------------------------------------------------------------------- */

/* 7. TWO FACTORS AUTHENTICATOR */

/* 7.1 INPUT */
:local(.inputTwoFactorAuthenticator) {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 49px;
  height: 50px;
  margin: 25px 1px 0px 0px;
  font-size: 27px;
  font-weight: bold;
  font-family: Roboto;
  text-align: center;
}

:local(.inputTwoFactorAuthenticatorError) {
  composes: inputTwoFactorAuthenticator;
  border-bottom: 1px solid #ff445b;
  color: #ff445b;
}

:local(.alignInputTwoFactorAuthenticator) {
  display: flex;
  justify-content: space-between;
}

:local(.inputTwoFactorAuthenticatorError) {
  composes: inputTwoFactorAuthenticator;
  border-bottom: 1px solid #ff445b;
  color: #ff445b;
}

/* 7.2 TEXTS */
:local(.instructions) {
  composes: textDefault from "../../components/bases/textBase.css";
  text-align: center;
}

:local(.instructions_2) {
  composes: description;
  margin: 30px 0px 50px 0px;
}

:local(.linkWhereToFind) {
  composes: link;
  color: white;
  font-weight: bold;
}

/* ------------------------------------------------------------------------- */

/* 8. SEED */

/* 8.1 INPUT ( TEXTAREA ) */
:local(.inputTextArea) {
  composes: bgPurpleLight from "../../components/bases/colorBase.css";
  composes: textDefault from "../../components/bases/textBase.css";
  margin-bottom: 25px;
  border-radius: 6px;
  border-style: none;
  max-width: 79%;
  width: 60%;
  height: 50px;
  padding: 10% 20%;
  position: relative;
  font-family: roboto;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  resize: none;
}

:local(.inputTextAreaError) {
  composes: inputTextArea;
  color: #ff445b;
  border: 1px solid #ff445b;
}

/* 8.2 TEXTS */
:local(.insertSeed) {
  margin: 40px 0 30px 0;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
}

/* ------------------------------------------------------------------------- */
