/*

1. LOGIN
  1.1 BUTTON
  1.2 INPUT
  1.3 LINKS
  1.4 TEXTS
  1.5 LOGO 

2. FOOTER 
  2.1. LINKS

*/

/* ------------------------------------------------------------------------- */

/* 1. LOGIN */
:local(.formLogin) {
  margin: 25px;
  padding: 15px;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

/* 1.1. BUTTON */
:local(.buttonBorderGreen) {
  composes: buttonBorderGreen from "../../components/buttonBase.css";
}

/* 1.2. INPUT */
:local(.inputTextDefault) {
  composes: inputTextDefault from "../../components/inputBase.css";
  margin-bottom: 30px;
}

/* 1.3. LINKS */
:local(.link) {
  composes: linkDefault from "../../components/textBase.css";
}

:local(.doNotLink) {
  composes: linkDefault from "../../components/textBase.css";
  font-size: 16px;
}

/* 1.4. TEXT DESCRIPTION */
:local(.description) {
  composes: textDefault from "../../components/textBase.css";
  display: block;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

:local(.textForgetPass) {
  composes: textDefault from "../../components/textBase.css";
  display: block;
  text-align: right;
  margin-bottom: 25px;
  text-decoration: none;
}

:local(.doNotHaveAccount) {
  composes: textDefault from "../../components/textBase.css";
  font-size: 16px;
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* 1.5. LOGO */
:local(.logo) {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* 2. BASE FOOTER */
:local(.footer) {
  composes: clGreenDefault from "../../components/colorBase.css";
  font-size: 12px;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  top: 100%;
  margin-top: -60px;
  position: absolute;
}

/* 2.1. LINK */
:local(.footerLink) {
  composes: linkDefault from "../../components/textBase.css";
  font-size: 12px;
}

:local(.footerSpace) {
  margin-left: 15px;
  margin-right: 15px;
}
