/**

1. CONTAINERS
2. IMAGES & UI
3. TEXT
4. INPUTS
5. MODAL

*/


/* 1. HEADER SETTINGS */
:local(a) {
  text-decoration: none;
}

:local(.containerHeaderSettings) {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

:local(.headerSettingsDefault) { 
  display: flex;
}

:local(.headerSettingsDefault p) {
  padding-left: 0.75cm;
  color: #68f285;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

:local(.headerSettingsDefault h3) {
  text-align: right;
  margin: 0;
  padding-right: 15px;
}

#hr hr{
  border: 0;
  width: 100%;
  border-bottom: 2px dotted #654fa4;
  size: 15px;
  height: 4px;
}

#hr {
  display: flex;
}

:local(.alignContentTab) {
  padding: 0 35px;
} 

@media screen and (max-width: 599px) {
  :local(.headerSettingsDefault p) {
    float: left;
    padding: 0 5px;
    font-size: 9px;
  }
  :local(.headerSettingsDefault h3) {
    font-size: 9px;
  }
  :local(.headerSettingsDefault) { 
    display: block;
  }
  :local(.alignContentTab) {
  padding: 0;
  }
  #hr hr {
  height: 0.4px;
  }
}

/* ------------------------------------------------------------------------- */
/* CONTAINERS */

:local .box {
  composes: textDefault from "../../../components/bases/textBase.css";
  composes: bgPurpleDefault from "../../../components/bases/colorBase.css";
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,.05);
  min-height: 70vh;
  padding-top: 30px;
  overflow-y: auto;
  /* width: 100%; */
}

:local .aliasNameRow {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

:local .alignCenter {
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

:local .boxSeed {
  margin-top:40px;
}

@media screen and (max-width: 599px) {
  :local .boxSeed {
    margin-top:20px;
  }  
}

/* IMAGES & UI */

:local .buttonWalletRow {
  /* max-width: 160px;
  float: right;
  margin-right:10px; */
  margin-left:15px;
}

:local .buttonDanger {
  composes: buttonRed from "../../../components/bases/buttonBase.css";
  composes: buttonWalletRow;
}

:local .buttonPurple {
  composes: buttonPurpleClear from "../../../components/bases/buttonBase.css";
  composes: buttonWalletRow;
}

:local .buttonGreen {
  composes: buttonEnable from "../../../components/bases/buttonBase.css";
  composes: buttonWalletRow;
}

:local .buttonImport {
  composes: buttonGreen;
  margin: 0px;
  max-width: 300px;
  align-self: center;
}

:local .coinIcon {
  width: 30px;
  height: 30px;
  display:block;
  position:relative;
  left: 50%;
  margin-left:-15px;
  margin-top:10px;
}

:local .coinIconAlias {
  width: 58px;
  height: 58px;
  display:block;
  position:relative;
  left: 50%;
  margin-left:-28px;
  margin-bottom:20px;
}

:local .inputClear {
  composes: inputTextDefault from "../../../components/bases/inputBase.css";
  background-color: transparent;
  border: solid 1px rgba(255,255,255,.1);
  text-align: center;
}

:local .inputClearAlias {
  composes: inputTextDefault from "../../../components/bases/inputBase.css";
  background-color: transparent;
  border: solid 1px rgba(255,255,255,.1);
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 599px) {
  :local .buttonWalletRow {
    font-size:9px;
    padding:0px;
    margin-left:10px;
    height:32px;
  }
  
  :local .coinIcon {
    width: 24px;
    height: 24px;
    margin-top:5px;
  }
  
  :local .inputClear {
    font-size:9px;
    height:32px;
    margin-bottom: 7px;
  }
  

  :local .coinIconAlias {
    width: 32px;
    height: 32px;
    left: 50%;
    margin-left:-17px;
  }

  :local .buttonGreen {
    max-width:100%;
    margin:0px;
  }
}

/* TEXT */

:local .description {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  text-align:center;
}

:local .labelCoin {
  border: solid 1px rgba(255,255,255,.1);
  border-radius:5px;
  text-align:center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:50px;
}

:local .boldHead {
  font-size:16px;
  font-weight: 700;
  margin-top:30px;
}

@media screen and (max-width: 599px) {
  :local .description {
    font-size: 9px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
  }
  :local .labelCoin {
    font-size:9px;
    height:32px;
  }
  :local .boldHead {
    font-size:12px;
    font-weight: 700;
    margin-top:20px;
  }
}

/* 4. INPUTS */

/* 4.1 INPUT ( TEXTAREA ) */
:local(.inputTextArea) {
  composes: bgPurpleDark from "../../../components/bases/colorBase.css";
  composes: textDefault from "../../../components/bases/textBase.css";
  composes: bdPurpleDefault from "../../../components/bases/colorBase.css";
  margin: 40px 0;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  max-width: 79%;
  width: 79%;
  height: 50px;
  padding: 10%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  white-space: normal;
  overflow: auto;
  resize: none;  
}

:local(.inputTextArea::placeholder) {
  font-family: 'Noto Sans', sans-serif;
  opacity: 0.5;
  color: white;
  font-size: 17px;
}

:local(.inputTextAreaError) {
  composes: inputTextArea;
  color: #f05252;
  border: 1px solid #f05252;
}

/* 4. MODAL */

:local .modalBox {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
:local .baseStep {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-self: center;
  width: 100%;
  padding-top: 30px;
}

:local .modalBox {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

@media only screen and (max-width: 400px) {
  :local .modalBox {
    font-size: 12px;
  }
  :local .baseStep {
    padding: 30px 0;
  }
}

@media only screen and (min-width: 1279px) {
  :local .modalBox {
    width: 35vw;
  }
}


:local .modalIconCoin {
  max-width: 50px;
  margin-bottom: 20px;
}

:local .totalConfirm {
  font-size: 18px;
  font-weight: 700;
}

:local .confirmFee {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 10px;
}

:local(.inputTextDefault) {
  composes: inputTextDefault from "../../../components/bases/inputBase.css";
  max-width: 260px;
}

:local .bt {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

:local(.btContinueDisable) {
  composes: buttonBorderGreen from "../../../components/bases/buttonBase.css";
  composes: bt;
}

:local(.btError) {
  composes: buttonGeneral from "../../../components/bases/buttonBase.css";
  composes: bgError from "../../../components/bases/colorBase.css";
  composes: bt;
}
