/*
1. BASE
  1.1 BUTTON

2. CARD
  2.1 CARD

*/

/* ------------------------------------------------------------------------- */
/* 1. BASE */

/* 1.1 BUTTON */
:local(.buttonCard) {
  composes: buttonEnable from "../../components/bases/buttonBase.css";
  width: 30%;
  height: 45px;
  font-weight: bold;
  margin: 2vh;
}

/* 2. CARD */

/* 2.1 CARD */
:local(.cardHome) {
  composes: bgPurpleDefault from "../../components/bases/colorBase.css";
  width: 275px;
  padding: 7% 1%;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  align-items: center;
  max-width: 100%;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  
}

:local(.descriptionCard) {
  composes: textDefault from "../../components/bases/textBase.css";    
  padding: 1vh 2vh; 
  max-width: 100%;
}

:local(.cardIcon){
  margin: auto;
  max-width: 100%;
}

:local(.cardTitle) {
  composes: textDefault from "../../components/bases/textBase.css";    
  font-weight: bold;
  padding: 2vh;
}

:local(.homeContainer) {
  justify-content: center;
  height: 90vh;
  align-items: center;
  margin-bottom: 30%;
}

@media only screen and (max-width: 1023px) {
    :local(.homeContainer) {
      flex-wrap: nowrap !important;
      overflow-x: scroll;
      justify-content: space-between;
      height: 75vh;      
      align-items: center;
    }
} 