/*
1. BASE
  1.1 BUTTON

2. CARD
  2.1 CARD

*/

/* ------------------------------------------------------------------------- */
/* 1. BASE */

/* 1.1 BUTTON */
:local(.buttonCard) {
  composes: buttonEnable from "../../components/bases/buttonBase.css";
  width: 30%;
  height: 45px;
  text-align: center;
  font-weight: bold;
}

/* 2. CARD */

/* 2.1 CARD */
:local(.cardHome) {
  composes: bgPrupleMedium from "../../components/bases/colorBase.css";
  width: 299px;
  height: 340px;
  padding: 7% 1%;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  align-items: center;
  display: grid;
  max-width: 100%;
}

:local(.descriptionCard) {
  composes: textDefault from "../../components/bases/textBase.css";    
  padding: 0 8%; 
  max-width: 100%;
}

:local(.cardIcon){
  margin: auto;
  max-width: 100%;
}

:local(.cardTitle) {
  composes: textDefault from "../../components/bases/textBase.css";    
  font-weight: bold;
}

:local(.homeContainer) {
  justify-content: center;  
  padding-bottom: 100px;
  margin: auto;
}

@media only screen and (max-width: 425px) {
    :local(.homeContainer) {
      flex-wrap: nowrap !important;
      overflow-x: scroll;
      justify-content: space-between;
      height: 75vh;      
      align-items: center;
      padding: 0 0 5% 0;
    }
} 