/*

1. SETTINGS
    1.1 BASES
    1.2 TEXTS



*/

/* ------------------------------------------------------------------------- */

/* 1. SETTINGS */

/* 1.1 BASES */
:local(a) {
    text-decoration: none;
}

:local(.containerSettings) {
    justify-content: center;
    border-radius: 8px;
}

:local(.headerSettings) {
    padding-right: 20%;
}

:local(.containerCardsSettings) {
    display: flex;
    padding: 0 15px 90px 15px;
}

:local(.cardsSettings) {
    padding: 5px;
}

:local(.cards) {
    composes: bgPurpleDefault from "../../components/bases/colorBase.css";
    border-radius: 8px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    min-width: 130px;
    text-align: center;
    padding: 5px;
    composes: clInfo from "../../components/bases/colorBase.css";
}

:local(.cards a, .cards a:visited) {
  text-decoration: none;
  color: #ffffff;
}

:local(.cards:hover) {
    background-color: #68f285;
    transition-duration: 0.3s;
}

/* 1.2 TEXTS */
:local(.headerSettings p) {
    font-size: 12px;
    margin-bottom: 3.5%;
}

@media only screen and (max-width: 599px) {
    :local(.headerSettings) {
        padding: 0;
    }
    :local(.headerSettings p) {
        font-size: 8px;
        margin-bottom: 7%;
    }
    :local(.headerSettings h2) {
        font-size: 9px;
    }
}

/* ------------------------------------------------------------------------- */

