/*

1. SETTINGS
    1.1 BASES
    1.2 TEXTS

2. SECURITY
    2.1 BASES
        2.1.1 MOBILE
    2.2 TEXTS
    2.3 IMAGES
    2.4 INPUTS
    2.5 BUTTONS
    2.6 HEADER SETTINGS
3.  CELL PHONE
    3.1 BASES
    3.2 TEXTS
4.  KYC
    4.1 BASES
    4.2 TEXTS
    4.3 BUTTONS
*/

/* ------------------------------------------------------------------------- */

/* 1. SETTINGS */

/* 1.1 BASES */
:local(a) {
  text-decoration: none;
}

:local(.containerSettings) {
  justify-content: center;
  border-radius: 8px;
}

:local(.headerSettings) {
  padding-right: 20%;
}

:local(.containerCardsSettings) {
  display: flex;
  padding: 0 15px 90px 15px;
}

:local(.cardsSettings) {
  padding: 5px;
}

:local(.cards) {
  composes: bgPurpleDefault from "../../components/bases/colorBase.css";
  border-radius: 8px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  min-width: 130px;
  text-align: center;
  padding: 5px;
  composes: clInfo from "../../components/bases/colorBase.css";
}

:local(.cards a, .cards a:visited) {
  text-decoration: none;
  color: #ffffff;
}

:local(.cards:hover) {
  background-color: #68f285;
  transition-duration: 0.3s;
}

/* 1.2 TEXTS */
:local(.headerSettings p) {
  font-size: 12px;
  margin-bottom: 3.5%;
}

@media only screen and (max-width: 599px) {
  :local(.headerSettings) {
    padding: 0;
  }
  :local(.headerSettings p) {
    font-size: 8px;
    margin-bottom: 7%;
  }
  :local(.headerSettings h2) {
    font-size: 9px;
  }
}

:local(.statusRejected) {
  float: right;
  position: relative;
  bottom: 6px;
}
:local(.statusRejected p) {
  color: #f36161 !important;
  position: relative;
  right: 5px;
  font-size: 13px;
  top: 2px;
}

/* ------------------------------------------------------------------------- */
/* 2. SECURITY */

/* 2.1 BASES */
:local(.indicatorItem) {
  composes: clPurpleClear from "../../components/bases/colorBase.css";
  font-size: 100px;
  font-weight: bold;
  width: 100%;
}

:local(.containerSecurity) {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

:local(.containerItemsWeb) {
  display: flex;
  justify-content: space-between;
}

:local(.item) {
  display: flex;
}

:local(.counterItems) {
  display: flex;
  justify-content: space-between;
}

:local(.containerItems) {
  display: flex;
  margin-bottom: 50px;
  float: right;
}

:local(.contentItem) {
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  align-self: flex-end;
}

:local(.headerSecurity) {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

:local(.headerSecurity p) {
  padding-left: 22px;
  color: #68f285;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  text-align: right;
}

:local(.headerSecurity h3) {
  margin: 0;
  text-align: right;
}

#hr hr {
  border: 0;
  width: 100%;
  border-bottom: 1px dashed #654fa4;
  size: 15px;
  height: 2px;
}

:local(.allSecurity) {
  display: flex;
}

/* 2.1.1 BASES - MOBILE */
:local(.columItemsMobile) {
  justify-content: center;
}

:local(.alignLaunchMobile) {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* 2.2 TEXTS */
:local(.indicatorItem p) {
  font-size: 12px;
  font-weight: bold;
  color: white;
  width: 75%;
}

/* 2.3 IMAGES */
:local(.allSecurity img) {
  max-width: 100%;
}

:local(.alignLaunchMobile img) {
  height: 95%;
  width: 90%;
}

/* 2.4 INPUTS */
:local(.inputTwoFactorAuthenticator) {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #979797;
  width: 14%;
  height: 50px;
  margin: 25px 1px 0px 0px;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

:local(.inputTextPhone) {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  background-color: transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border-bottom: 1px solid #3b1878 !important;
  height: 30px !important;
  color: white !important;
  position: relative;
  top: 9px;
  left:5%
}
:local(.inputTextPhoneError) {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  background-color: transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border-bottom: 2px solid #f44336 !important;
  height: 30px !important;
  color: white !important;
  position: relative;
  top: 9px;
  left:5%
}
@media only screen and (max-width: 959px) {
  :local(.inputTextPhone) {
    composes: inputTextDefault from "../../components/bases/inputBase.css";
    background-color: transparent !important;
    border-radius: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #3b1878 !important;
    height: 30px !important;
    color: white !important;
    position: relative;
    top: 9px;
    left: 10%
  }
  :local(.inputTextPhoneError) {
    composes: inputTextDefault from "../../components/bases/inputBase.css";
    background-color: transparent !important;
    border-radius: 0 !important;
    padding: 0 !important;
    border-bottom: 2px solid #f44336 !important;
    height: 30px !important;
    color: white !important;
    position: relative;
    top: 9px;
    left: 10%
  } 
}
:local(.inputTextPhone:hover) {
  border-bottom: 2px solid #3b1878 !important;
}
:local(.inputTextPhone:focus) {
  border-bottom: 2px solid #3b1878 !important;
}


:local(.inputTwoFactorAuthenticatorError) {
  composes: inputTwoFactorAuthenticator;
  border-bottom: 1px solid #f05252;
  color: #f05252;
}

:local(.alignInputTwoFactorAuthenticator) {
  display: flex;
  justify-content: space-around;
}

/* 2.5 BUTTON */
:local(.buttonEnable) {
  composes: buttonEnable from "../../components/bases/buttonBase.css";
  margin-bottom: 10%;
}

:local(.buttonBorderGreen) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
  margin-bottom: 10%;
}

:local(.buttonError) {
  composes: buttonGeneral from "../../components/bases/buttonBase.css";
  background-color: #f05252;
  border-color: #f05252;
  margin-bottom: 10%;
}

@media only screen and (max-width: 599px) {
  :local(.indicatorItem) {
    font-size: 12px;
    color: #68f285;
    text-align: right;
    padding: 0;
    font-size: 9px;
  }
  :local(.indicatorItem p) {
    margin: 0;
    width: 90%;
    font-size: 8px;
    padding-left: 10%;
  }
  :local(.counterItems) {
    display: block;
  }
  :local(.columItems) {
    display: flex;
  }
  :local(.contentItemSpecific img) {
    width: 45%;
  }
  :local(.containerItems) {
    margin-bottom: 20px;
  }
  :local(.headerSecurity p) {
    float: left;
    font-size: 9px;
  }
  :local(.headerSecurity h3) {
    font-size: 9px;
  }
}

/* 2.6 HEADER SETTINGS */
:local(a) {
  text-decoration: none;
}

:local(.containerHeaderSettings) {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

:local(.headerSettingsDefault) {
  display: flex;
}

:local(.headerSettingsDefault p) {
  padding-left: 22px;
  color: #68f285;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

:local(.headerSettingsDefault h3) {
  text-align: right;
  margin: 0;
  padding-right: 15px;
}

#hr hr {
  border: 0;
  width: 100%;
  border-bottom: 2px dotted #654fa4;
  size: 15px;
  height: 4px;
}

#hr {
  display: flex;
}

:local(.twoFactorQr) {
  display: contents;
}

@media screen and (max-width: 599px) {
  :local(.headerSettingsDefault p) {
    float: left;
    padding: 0 5px;
    font-size: 9px;
  }
  :local(.headerSettingsDefault h3) {
    font-size: 9px;
  }
  :local(.headerSettingsDefault) {
    display: block;
  }
  #hr hr {
    height: 0.4px;
  }
}

/* ------------------------------------------------------------------------- */

/* 3.  CELL PHONE */

/* 3.1 BASES */
:local(.buttonEnableSecurity) {
  composes: buttonEnable;
  font-weight: bold;
  margin: 0;
}

:local(.alignButtonMobile) {
  display: flex;
  align-items: flex-end;
}

:local(.counterItemsMobile) {
  display: flex;
  justify-content: space-between;
}

:local(.alignNumberField) {
  display: flex;
  align-items: flex-end;
}

:local(.indicatorItemMobile) {
  composes: indicatorItem;
}

:local(.contentMobile) {
  padding: 50px 0 0;
}

/* 3.2 TEXTS */
:local(.contentMobile h3) {
  color: #68f285;
}

:local(.fontSizeInput) {
  font-size: 32px !important;
}

@media screen and (max-width: 599px) {
  :local(.indicatorItemMobile) {
    color: #68f285;
    text-align: left;
    display: flex;
  }
  :local(.alignButtonMobile) {
    margin-top: 35px;
  }
  :local(.contentMobile h3) {
    font-size: 10px;
  }
  :local(.fontSizeInput) {
    font-size: 18px !important;
  }
}
/* ------------------------------------------------------------------------- */

/* 4.  KYC */

/* 4.1 BASE */
:local(.containerKYC) {
  padding: 5px;
}
:local .labelRadio {
  margin-bottom: 0;
}
:local(.wrapperKYC) {
  float: right;
}

:local(.contentKYC) {
  composes: bgPurpleDefault from "../../components/bases/colorBase.css";
  border-radius: 5px;
  margin: 5px 0;
}

:local(.contentKYC_2) {
  composes: contentKYC;
  margin-bottom: 40px;
}

:local(.counterItemsKYC) {
  display: flex;
  justify-content: space-between;
}

:local(.boxKYC_1) {
  display: flex;
  padding: 16px 25px;
}

:local(.boxKYC_2) {
  display: flex;
  padding: 0px 25px 13px;
}

:local(.boxKYC_3) {
  padding: 15px 25px;
}

:local(.displayBox_3) {
  display: flex;
}

:local(.containerKYC p) {
  color: #68f285;
  margin: 0;
}

:local(.contentKYC img) {
  float: right;
  width: 20px;
}

/* 4.2 TEXT */
:local(.indicatorItemKYC) {
  composes: indicatorItem;
}
@media screen and (max-width: 599px) {
  :local(.textInput){
    width: calc(100% - -7%) !important;
  }
}


/* 4.3 BUTTON */
input[type="file"]::-webkit-file-upload-button {
  background-color: transparent;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: #68f285;
}

:local(.buttonDisabledSecurity) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
}
:local(.enableButtonUpload) {
  composes: buttonEnable from "../../components/bases/buttonBase.css";
  width: 80px;
  max-height: 30px;
  padding: 5px;
}

:local(.disabledButtonUpload) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
  width: 80px;
  max-height: 30px;
  padding: 5px;
}

:local(.removeFile){
  -webkit-appearance: none;
  position: relative;
  right:  6px;
  top: 2px;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  color: #f05252;
}

@media screen and (max-width: 1279px) {
  :local(.displayBox_3) {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  :local(.boxKYC_1) {
    display: block;
  }

  :local(.containerKYC p) {
    font-size: 10px;
  }

  :local(.indicatorItemKYC) {
    color: #68f285;
    text-align: left;
    display: flex;
  }
}

/* INFOCONTAINER */

:local .infoTitle {
  font-size: 24px;
}

:local .infoText {
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  :local .infoTitle {
    font-size: 14px;
  }

  :local .infoText {
    font-size: 12px;
  }

  :local .infoBoxText {
    margin-left: 20px;
  }
}
/* INFOCONFIRM */

:local .infoConfirmTitle {
font-size: 24px;
}

:local .infoConfirmImg {
  width: 80%;
}

:local .infoConfirmText {
font-size: 16px;
}

@media screen and (max-width: 414px) {
  :local .infoConfirmTitle {
    font-size: 14px;
  }
  
  :local .infoConfirmText {
    font-size: 12px;
  }

  :local .infoConfirmBoxText {
    margin-left: 20px;
  }
}
