@import url("./colorBase.css");
/*

1. BUTTON
  1.1 BUTTON GREEN
  1.2 BUTTON PURPLE
*/

/* ------------------------------------------------------------------------- */

/* 1. BUTTON GENERAL*/

:local(.buttonGeneral) {
  border-radius: 6px;
  border: none;
  color: white;
  padding: 15px;
  width: 100%;
  height: 50px;
}

/* 1.1 BUTTON GREEN */
:local(.buttonGreenLight) {
  composes: buttonGeneral;
  composes: bgGreenDefault from './colorBase.css';
}

/* 1.2 BUTTON PURPLE */
:local(.buttonPurpleClear) {
  composes: buttonGeneral;
  composes: bgPurpleClear from './colorBase.css';
}
:local(.buttonPurpleLight) {
  composes: buttonGeneral;
  composes: bgPurpleDefault from './colorBase.css';
}
:local(.buttonPurpleDark) {
  composes: buttonGeneral;
  composes: bgPurpleDark from './colorBase.css';
}

/* ------------------------------------------------------------------------- */