/*

1. COLORS
  1.1 PURPLE
  1.2 GREEN
  1.3 COINS
*/

/* ------------------------------------------------------------------------- */

/* 1. COLORS */

/* 1.1 PURPLE */
:local(.purpleDefault) {
  background-color: #4b2c82;
}
:local(.purpleLight) {
  background-color: #4b2c82;
}
:local(.purpleDark) {
  background-color: #3b1878;
}

/* 1.2 GREEN */
:local(.greenDefault) {
  background-color: #4cd566;
}
:local(.greenLight) {
  background-color: #4cd566;
}
:local(.greenDark) {
  background-color: #000;
}

/* 1.3 COINS */
:local(.coinLunes) {
  background-color: #4cd566;
}
:local(.coinBitcoin) {
  background-color: #f7921a;
}

/* ------------------------------------------------------------------------- */
