/*

  1. FONTS

*/

/* ------------------------------------------------------------------------- */

/* 1. FONTS */
:local(.offside) {
  font-family: 'Offside', cursive;
}

:local(.textDefault) {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

:local(.linkDefault) {
  composes: clGreenLight from "./colorBase.css";
  font-size: 14px;
  text
}
