/*
1. BASE
*/

/* ------------------------------------------------------------------------- */

/* BASE */

:local .baseBar {
  margin-bottom: 20px;
}

:local .label {
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: 12px;
}

:local .baseBackground {
  composes: bgPurpleDefault from "../../../../components/bases/colorBase.css";
  padding: 10px;
  border-radius: 5px;
  min-height: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
}

:local .baseBackgroundFlex {
  composes: baseBackground;
  margin-right: 20px;
}

@media only screen and (max-width: 599px) {
  :local .baseBackgroundFlex {
    composes: baseBackground;
    margin-right: 0px;
  }
}
