:local .boxStar {
  display: flex;
  width: 100%;
  align-content: space-between;
  font-size: 12px;
  
}

:local .star {
  opacity: .4;
  width: 10.9px;
  height: 10.3px;
  padding-right: 3px;
}

:local .starActive {
  color: #fad04d;
  opacity: 1;
  width: 10.9px;
  height: 10.3px;
  padding-right: 3px;

}


