/*

1. CONATINER LOGIN
2. CONTAINER SKELETON
  
*/

/* ------------------------------------------------------------------------- */

/* 1. CONATINER LOGIN */

:local(.textDefault) {
  composes: textDefault from "../../components/bases/textBase.css";
}

:local .link {
  composes: linkDefault from "../../components/bases/textBase.css";
}

:local(.colLeft) {
  composes: bgPurpleDark from "../../components/bases/colorBase.css";
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 3% 8%;
}

@media only screen and (max-width: 667px) {
  :local(.colLeft) {
    /* padding: 10%; */
    overflow: auto;
  }
}

@media screen and (max-width: 958px) and (min-width: 667px) {
  :local(.colLeft) {
    padding: 10% 30%;
    overflow: auto;
  }
}

@media screen and (min-width: 1600px) {
  :local(.colLeft) {
    padding: 10% 10%;
    overflow: hidden;
  }
}

/* 1.2 COLUMN LEFT */
:local(.colRight) {
  composes: bgPurpleLight from "../../components/bases/colorBase.css";
  height: 100vh;
  overflow: hidden;
}

/* ------------------------------------------------------------------------- */

/* 2. CONATINER SKELETON */
