/*

1. CONATINER LOGIN
2. CONTAINER SKELETON
  
*/

/* ------------------------------------------------------------------------- */

/* 1. CONATINER LOGIN */

:local(.textDefault) {
  composes: textDefault from "../../components/bases/textBase.css";
}

:local .link {
  composes: linkDefault from "../../components/bases/textBase.css";
}

:local(.colLeft) {
  composes: bgPurpleDark from "../../components/bases/colorBase.css";
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10% 8%;
}

@media only screen and (max-width: 667px) {
  :local(.colLeft) {
    display: block;
    padding: 10%;
    overflow: auto;
  }
}

/* 1.2 COLUMN LEFT */
:local(.colRight) {
  composes: bgPurpleLight from "../../components/bases/colorBase.css";
  height: 100vh;
  overflow: auto;
}

/* ------------------------------------------------------------------------- */

/* 2. CONATINER SKELETON */
