:local(.inputTextDefault) {
  composes: inputTextDefault from "../../components/bases/inputBase.css";
  width: 80%;
  margin: 2rem 0;
  /* padding: 0 10px; */
}

:local(.defaultText) {
  composes: inputTextDefault from "../../components/bases/textBase.css";
}

:local(.wrap) {
  margin: 1rem 0 3rem 0;
}

:local(.wrapInput) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

:local(.inputLabel) {
  composes: textDefault from '../../components/bases/textBase.css';
}

:local(.buttonBorderGreen) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
}
