:local(.defaultText) {
  composes: inputTextDefault from "../../components/bases/textBase.css";
}

:local(.wrap) {
  margin: 1rem 0 3rem 0;
}

:local(.inputLabel) {
  composes: textDefault from '../../components/bases/textBase.css';
}

:local(.buttonBorderGreen) {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
}

:local(.marginLabel) {
  display: block;
  margin-bottom: 2rem;
}
