:local(.modalBox) {
  text-align: center;
  color: #fff;
}

:local(.modalBox) img {
  width: 140px;
  height: 140px;
}

:local(.modalBox) strong {
  position: relative;
  bottom: 36px;
  font-size: 14px;
}

:local(.modalBox) p {
  position: relative;
  top: 49px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
}
