/*
1. BASE
  
2. TEXT

3. BUTTONS

4. SCROLLBAR

*/

/* ------------------------------------------------------------------------- */

/* 1. BASE */
:local .box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

:local(.alignSelectItem_1) {
  display: flex;
  padding-right: 10px;
}

:local(.alignSelectItem_2) {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
}

@media screen and (max-width: 599px) {
  :local(.alignSelectItem_2) {
    justify-content: initial;
    padding-left: 0;
  }
}

@media screen and (min-width: 600px) {
  :local .box {
    max-width: 70vw !important;
  }
}

:local .transparentBox {
  composes: box;
  background-color: transparent;
  padding: 0;
}

:local(.row) {
  margin: 0.5rem 0 1rem 0;
}

:local .header {
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  :local .header {
    max-width: 60vw !important;
  }
}

@media screen and (min-width: 1280px) {
  :local .header {
    max-width: 40vw !important;
  }
}

/* 2. TEXT */
:local .defaultText {
  composes: inputTextDefault from "../../components/bases/textBase.css";
  font-size: 12px;
  font-weight: normal;
}

:local .header h1 {
  text-align: center;
  font-size: 14px;
}

:local .header p {
  text-align: center;
  font-size: 12px;
}

/* 3. BUTTONS */
:local .buttonBorderGreen {
  composes: buttonBorderGreen from "../../components/bases/buttonBase.css";
  background-color: transparent;
}

:local .buttonEnable {
  composes: buttonEnable from "../../components/bases/buttonBase.css";
}

:local .buttonPurple {
  composes: buttonPurpleClear from "../../components/bases/buttonBase.css";
}

/* 4. SCROLLBAR */
::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
  border-radius: 6px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #654fa4;
  border-radius: 6px;
}
