:local .containerSellConfirm {
    text-align: center;
}

:local .imgSellConfirm {
    margin-top: 50px;
}

:local .textSellConfirm {
    padding: 0 11%;
    padding-top: 60px;
    font-weight: bold;
}

:local .boxBtnSellConfirm {
    width: 75%;
    padding-top: 115px;
    display: inline-block;
}

:local .btnSellConfirm {
  composes: buttonEnable from "../../../../components/bases/buttonBase.css";
  font-weight: bold;
}
