/*
1. BASE

*/

/* ------------------------------------------------------------------------- */

/* 1. BASE */
:local(.instructions) {
  composes: textDefault from "../../../../components/bases/textBase.css";
  display: block;
  text-align: center;
}

:local(.instructions a) {
  text-decoration: none;
  color: #ffffff;
}

:local(.instructions img) {
  position: relative;
  left: 10px;
  top: 5px;
}

/* 2. MODAL*/
:local(.alignInstructions, ol) {
  list-style-type: upper-alpha;
  font-size: 16px;
}

:local(.alignInstructions, ol li) {
  color: #68f285;
  font-weight: bold;
  padding: 2vh;
}

:local(.alignInstructions, ol li, span) {
  color: white;
  font-weight: normal;
}

:local(.infoModal) {
  width: 60vh;
  font-size: 16px;
  color: white;
}

@media only screen and (max-width: 499px) {
  :local(.alignInstructions, ol li) {
    font-size: 11px;
  }
  :local(.infoModal) {
    font-size: 11px;
    width: 40vh;
  }
}
